body { 
    font-family: 'Segoe UI', sans-serif;
    margin: 0; 
    line-height: 1.6; 
    color: #333; 
}
nav { 
    background: #7A003C; 
    padding: 1rem; 
    text-align: center; 
}
nav a { 
    color: white; 
    margin: 0 15px; 
    text-decoration: none; 
    font-weight: bold; 
}
nav a:hover { 
    color: #FDBF57; 
}
header { 
    background: #f4f4f4; 
    padding: 60px 20px; 
    text-align: center; 
}
section { 
    padding: 40px 10% ; 
}
.grid { 
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 20px; 
}
.card { 
    border: 1px solid #ddd; 
    padding: 20px; 
    border-radius: 8px; 
    text-align: center; 
}
img { 
    max-width: 100%; 
    border-radius: 5px; 
}

article {
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

footer { 
    text-align: center; 
    padding: 20px; 
    background: #eee; 
    font-size: 0.8rem; 
}