:root {
    --bg-color: #1D546D;
    --text-primary: #ffffff;
    --text-secondary: #a1a1a1;
    --accent: #ffffff;
    --glass: rgba(255, 255, 255, 0.05);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    color: var(--text-primary);
    font-family: sans-serif; 
    line-height: 1.6;
}

nav {
    background-color: #061E29;
    padding: 10px;
    text-align: center;
}

nav a {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    background-color: #0b3244; 
    color: white;
    text-decoration: none; 
    border-radius: 50px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #1D546D;
}

/* Active link style */
nav a.active {
    background-color: #1D546D;
}

header { 
    background: #f4f4f4; 
    padding: 60px 20px; 
    text-align: center; 
}
section { 
    padding: 40px 10% ; 
}
.grid { 
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 20px; 
}
.card { 
    border: 1px solid #ddd; 
    padding: 20px; 
    border-radius: 8px; 
    text-align: center; 
}
img { 
    max-width: 100%; 
    border-radius: 5px; 
}

article {
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

footer { 
    text-align: center; 
    padding: 20px; 
    background: #eee; 
    font-size: 0.8rem; 
}
